<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>

    <style>
        #message{
            margin-top: 20px;
            border: 1px solid gray;
            padding: 20px;
        }
    </style>
</head>
<body>

    昵称:<input id="nickname" type="text"/>
    <button onclick="conectWebSocket()">连接WebSocket</button>
    <button onclick="closeWebSocket()">断开WebSocket</button>

    <br/>
    消息:<input id="text" type="text"/>
    频道号:<input id="toUser" type="text"/>
    <button onclick="send()">发送消息</button>

    <!--存放接受到的消息-->
    <div id="message">

    </div>

<script>
    //连接对象
    var websocket = null;
    var nickname = null;
    function conectWebSocket() {


        nickname = document.getElementById("nickname").value;


        if (nickname == ''){
            alert("昵称不能为空");
            return;
        }

        //判断当前的浏览器是否支持websocket
        if ("WebSocket" in window){
            //websocket需要和MyWebSocket对应的value对应。将nickname传给后台去保存
            websocket = new WebSocket("ws://localhost:8080/websocket/"+nickname);
        }else {
            alert("Not support websocket");
            return;
        }

        //客户端建立连接成功的方法
        websocket.onopen = function (event) {
            setMessageHtml("LOC MSG:连接成功");
        }

        //连接关闭
        websocket.onclose = function (event) {
            setMessageHtml("LOC MSG:连接关闭");
        }

        //连接异常
        websocket.onerror = function (event) {
            setMessageHtml("LOC MSG:连接异常");
        }
        
        //接受到的消息
        websocket.onmessage = function (event) {
            setMessageHtml(event.data);
        }
    }

    function closeWebSocket() {
        websocket.Close();
    }

    function setMessageHtml(msg) {
        var message = document.getElementById("message");
        message.innerHTML += msg+"<br/>"; //换行
    }

    //发送消息
    function send() {
        var message = document.getElementById("text").value;
        var toUser = document.getElementById("toUser").value;
        var socketMsg = {msg:message,toUser:toUser};
        if (toUser == ''){ //填写的频道号码
            socketMsg.type = 0; //群聊
        }else{
            socketMsg.type = 1; //单聊
        }

        //websocket.send(nickname + ":" + message);
        //websocket.send(message);
        websocket.send(JSON.stringify(socketMsg)); //将json对象转换成json字符串
    }

</script>

</body>
</html>